:root {
  margin: 0 auto;
  text-align: center;

  --color-primary: hsla(212, 100%, 56%, 1);
}

/* RESET */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: hsla(205, 27%, 91%, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* BAD BAD BAD */
main {
  height: calc(100svh - 68px);
}
.dashboard {
  background-color: hsla(0, 0%, 100%, 1);
  border:  1px solid hsla(210, 22%, 87%, 1);
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  height: 100%;
}
.dashboard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  gap: 0.5rem;
  flex: 1;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  background-color: hsla(235, 32%, 13%, 1);
}

.header__logo {
  display: inline
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

/* common */

/* BUTTONS */
.button {
  display: inline-block;
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
  cursor: pointer;
}

.button__default {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(211, 97%, 24%, 1);
  box-shadow: 0 2px 0 0 hsla(0, 0%, 0%, 0.05);
  transition: background-color 0.2s ease;
  will-change: background-color;
}

.button__default-active {
  background-color: hsla(212, 100%, 56%, 1);
}

.button__default:hover {
  background-color: hsla(212, 100%, 56%, 1);
}

.button__outline {
  color: hsla(211, 8%, 51%, 1);
  background-color: hsla(0, 0%, 100%, 1);
  border: 1px solid hsla(210, 22%, 87%, 1);
  border-radius: 3px;
  padding: 6px 16px 6px 14px;
}

/* BREADCRUMBS */
.breadcrumbs {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}
.breadcrumbs__separator::after{
  content: '/';
  margin: 0 0.5rem;
  color: hsla(211, 8%, 51%, 1);
}
.breadcrumbs__item {
  color: hsla(213, 13%, 16%, 1);
  font-size: 1.25rem;
  line-height: 1.75;
  font-weight: 600;
}
.breadcrumbs__item-active {
  color: hsla(211, 8%, 51%, 1);
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;
}

/* TREEVIEW */
.treeView{
  column-span: 2;
  height: 100%;
  border: 1px solid hsla(210, 22%, 87%, 1);
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.treeRoot{
  border-radius: 0 0 2px 2px;
  height: 100%;
  padding: 8px 4px;
}
.treeNode{
  position: relative;
}

.treeNode::before{
  content: '';
  position: absolute;
  top: 0;
  left: .5em;
  width: 1px;
  height: 100%;
  background-color: rgb(154, 154, 154);
}
.treeLeaf{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.searchInput {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 2px;
}

.searchInput input[type="search"] {
  width: 100%;
  padding: 0rem;
  border-radius: 2px 2px 0 0;
  padding: 1px 12px 0px 0px;
  border: 1px solid hsla(210, 22%, 87%, 1);
  padding: 0.75rem 1rem;
}

.searchInput input[type="search"]::placeholder {
  font-size: 0.875rem;
  color: hsla(212, 16%, 79%, 1);
}

.searchIcon {
  position: absolute;
  top: calc(50% - 6px);
  right: 21px;
  cursor: pointer;
  will-change: transform;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.searchIcon:active {
  transform: scale(0.9);
}
/* VIEWER */
.viewer {
  display: flex;
  flex-direction: column;
  column-span: 3;
  border: 1px solid hsla(210, 22%, 87%, 1);
  border-radius: 2px;
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
