:root {
  --color-primary: hsla(212, 100%, 56%, 1);
  --color-secondary: hsla(235, 32%, 13%, 1);
  --color-light: hsla(205, 27%, 91%, 1);
  --color-dark: #333;
  --color-white: #fff;
  --color-gray: hsla(210, 22%, 87%, 1);
  --color-gray-dark: hsla(211, 8%, 51%, 1);
  --color-hover: hsla(212, 100%, 56%, 1);
  --font-family: 'Inter', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.4;
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --padding-small: 4px 8px;
  --padding-medium: 12px 16px;
  --padding-large: 1.25rem;
  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --transition-ease: 0.2s ease;
  --shadow-light: 0 2px 0 0 hsla(0, 0%, 0%, 0.05);
  --text-color: #24292F;
  --text-color-muted: #88929C;
  margin: 0 auto;
  text-align: center;
}

/* RESET */
* {
  font-family: var(--font-family);
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html, body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* DASHBOARD */
.dashboard {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-medium);
  padding: var(--padding-medium);
  margin: var(--gap-small);
  height: calc(100vh - 4em);
}

.dashboard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-small);
  height: calc(100vh - 8em - 24px);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium);
  width: 100%;
  height: 48px;
  background-color: var(--color-secondary);
}

.header__logo {
  display: inline;
}

.header__buttons {
  display: flex;
  gap: var(--gap-medium);
}

/* BUTTONS */
.button {
  display: inline-block;
  padding: var(--padding-small);
  border: none;
  border-radius: var(--border-radius-small);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
  cursor: pointer;
  transition: background-color var(--transition-ease);
  will-change: background-color;
}

.button--default {
  color: var(--color-white);
  background-color: hsla(211, 97%, 24%, 1);
  box-shadow: var(--shadow-light);
}

.button--default-active, .button--default:hover {
  background-color: var(--color-hover);
}

.button--outline {
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-small);
  padding: 6px 16px 6px 14px;
}

.button--outline-active {
  border-radius: var(--border-radius-small);
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-light);
  padding: 6px 16px 6px 14px;
} 

/* BREADCRUMBS */
.breadcrumbs {
  display: flex;
  align-items: center;
  padding: var(--gap-small);
}

.breadcrumbs__separator::after {
  content: '/';
  margin: 0 var(--gap-small);
  color: var(--color-gray-dark);
}

.breadcrumbs__item {
  color: hsla(213, 13%, 16%, 1);
  font-size: 1.25rem;
  line-height: 1.75;
  font-weight: 600;
}

.breadcrumbs__item--active {
  color: var(--color-gray-dark);
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;
}

/* TREEVIEW */
.tree-view {
  border: 1px solid var(--color-gray);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.tree-view__tree {
  padding: 2px 4px;
  width: 100%;
}

.tree-view__root {
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  height: 100%;
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 100%;
}

.tree-view__node {
  position: relative;
  margin-left: 1rem;
  color: #17192D;
  width: 100%;
}

.tree-view__node::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0.5em;
  width: 1px;
  height: 100%;
  background-color: rgb(154, 154, 154);
}

.tree-view__leaf {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #17192D;
  width: 100%;
}

.tree-view__leaf:hover {
  background-color: var(--color-gray);
}

.tree-view__leaf--active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2188FF;
  color: #F2F8FF;
}

/* SEARCH */
.search-input {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-small);
}

.search-input__field {
  width: 100%;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  border: 1px solid var(--color-gray);
  padding: 0.75rem 1rem;
}

.search-input__field::placeholder {
  font-size: 0.875rem;
  color: hsla(212, 16%, 79%, 1);
}

.search-input__icon {
  position: absolute;
  top: 50%;
  right: 21px;
  cursor: pointer;
  will-change: transform;
  transform: translateY(-50%);
  transition: transform var(--transition-ease);
}

.search-input__icon:active {
  transform: scale(0.9);
}

/* VIEWER */
.viewer {
  border: 1px solid var(--color-gray);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.viewer__title {
  display: flex;
  align-items: center;
  padding: var(--padding-large);
  width: 100%;
  border-bottom: 1px solid var(--color-gray);
}

.viewer__title h1 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0;
  margin-right: var(--gap-small);
}

.viewer__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--padding-large);
  overflow: auto;
}

.viewer__main {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-small);
}

.viewer__drop {
  background-color: #F2F8FF;
  border: 2px dashed #55a6FF;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-large);
  text-align: center;
  cursor: pointer;
  aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: var(--gap-medium);
  border-bottom: 1px solid var(--color-gray);
}

.viewer__drop p {
  color: #2188FF;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.viewer__data {
  display: flex;
  flex-direction: column;
}

.viewer__devices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: var(--gap-medium) 0;
  gap: var(--gap-medium);
}

.stacked-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stacked-data__title {
  color: var(--text-color);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0;
}

.stacked-data__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-data__name:first-child {
  margin-right: 2rem;
}

.stacked-data__name p {
  color: var(--text-color-muted);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

/* STATUS BADGE */
.status-badge {
  display: inline-block;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 8px;
  height: 8px;
}

.status-badge--active {
  background-color: #52C41A;
}

.status-badge--inactive {
  background-color: #F5222D;
}

.status-badge--warning {
  background-color: #FAAD14;
}

/* ANIMATIONS */
@media (prefers-reduced-motion: no-preference) {
  .animate-spin {
    animation: logo-spin infinite 20s linear;
  }
}

/* KEYFRAMES */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

